@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap');

body {
    font-family: 'Big Shoulders Text', cursive;
    background-color: #dddad8;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu {
    background-color: #cacaca;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 110px;
    max-width: 600px;
    width: 100%;
}

.menu h1 {
    text-align: center;
    color: #333;
    margin-bottom: 50px;
    font-family: monospace;
    font-size: 47px;
    margin-top: 10px;  
    top: -40px; 
    position: relative;
}

.menu-item {
    position: relative;
    display: flex;
    padding: 15px;
    align-items: center;
    margin-bottom: 35px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    width: 700px;
    height: 300px;
    margin-left: -65px;
}

.menu-item img {
    width: 180px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.menu-item h2 {
    position: absolute;
    top: 45px;
    left: 220px;
    margin: 0;
    color: #ff6600;
    font-size: 29px;
    font-family: 'Big Shoulders Text', cursive;
    z-index: 2;
}

.menu-item .description {
    position: absolute;
    top: 50px;
    left: 220px;
    margin: 0;
    color: #666;
    font-size: 16px;
    text-align: left;
    display: none;
    z-index: 1;
}

.menu-item.active .description {
    display: block;
}

.menu-item p{
    font-family: 'Big Shoulders Text', cursive;
    text-align: justify;
    margin-right: 20px;
    margin-left: 5px;
    font-size: 19px;
    font-weight: bold;
}

.intro-text {
    text-align: center;
    color: #666;
    font-size: 18px;
    margin-bottom: 20px; 
}



.add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6600; 
    color: #ffffff; 
    border: none; 
    border-radius: 50%; 
    padding: 10px 20px; 
    cursor: pointer; 
    font-family: 'Big Shoulders Text', cursive;
    font-size: 16px; 
    transition: background-color 0.3s ease; 
    position: absolute; 
    bottom: 20px; 
    right: 35px; 
    width: 47px;
    height: 47px;
}

.add-to-cart:hover {
    background-color: #c24e00; 
}


